/*general rules*/
*{
  margin: 0;
  padding: 0;
}


/*header section*/
header{
  background-color: white;
  position: fixed;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  z-index: 1;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

/* .logo elements are too close togather.. tried to change it using
justify-content: space-between; but did not succeed*/
.logo{
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

/* could change background-color using this rule but it is very gneneral
a{
  color: black;
}*/

header nav a{
  color: balck;
  display: inline-block;
  padding-right: 40px;
}


/*main section*/
.articles{
  position: relative;
  top: 110px;
  width: 100%;
  border: 1px solid grey;
  display: flex;
}

.articles .left{
  border: 2px solid grey;
  width: 630px;
  display: flex;
}

.articles .center{
  width: 300px;
}

.articles .small{
  border: 2px solid grey;
  width: 240%;
  display: flex;
}
