/*general rules*/
*{
  margin: 0;
  padding: 0;
}

h1{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p{
  font-family: georgia;
  font-size: 17px;
  color: black;
}
/*header section*/
header{
  background-color: white;
  position: fixed;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  z-index: 1;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

/* .logo elements are too close togather.. tried to change it using
justify-content: space-between; but did not succeed*/
.logo{
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

/* could change background-color using this rule but it is very gneneral
a{
  color: black;
}*/

header nav a{
  color: balck;
  display: inline-block;
  padding-right: 40px;
}


/*article section*/
.articles{
  position: relative;
  top: 110px;
  width: 100%;
  display: flex;
}

/*flex container left side*/
.articles .left{
  margin-right: 10px;
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

/*the main article*/
.articles .left .main{
  padding-bottom: 10px;
  width: 630px;
}

.articles .left .main .title{
  display: flex;
  width: 630px;
  height: 300px;
  background-image: url(./images/img-story-main.png)
}

/* small article to the left*/
.articles .left .sub1{
  margin-right: 10px;
  width: 306px;
}

.articles .left .sub1 .title{
  display: flex;
  width: 305px;
  height: 300px;
  background-image: url(./images/img-story-2.png)
}

/* small article to the right*/
.articles .left .sub2{
  width: 306px;
}

.articles .left .sub2 .title{
  display: flex;
  width: 305px;
  height: 300px;
  background-image: url(./images/img-story-3.png)
}

/* center column articles*/
.articles .center{
  margin-right: 10px;
  width: 300px;
  flex-wrap: wrap;
}

.articles .center .main{
  width: 300px;
  padding-bottom: 10px;
}

.articles .center .title{
  width: 296px;
  height: 300px;
  background-image: url(./images/img-story-1.png);
  margin-bottom: 10px;
}

.articles .center .sub{
  width: 296px;
}

/* small article to the right*/
.articles .small{
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.articles .small .image{
  width: 236px;
  height: 236px;
}

.articles .small .main{
  display: block;
}

.articles .small .main h2{
  margin-bottom: 41px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.articles .small .main .further-reading{
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 12px;
  color: dimGray;
}

/*footer*/

footer{
  display: flex;
  position: relative;
  top: 160px;
  height: 100px;
  width: 800px;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: verdana;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

footer .title{
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  height:30px;
  width:auto;
  padding-right: 30px;
  margin-right: 20px;
}

footer .footnav {
  display: block;
}

footer .footnav a {
  padding: 20px;
}

footer .note{
  display: block;
  clear: both;
}
