/*general rules*/
*{
  margin: 0;
  padding: 0;
}

h1{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p{
  font-family: georgia;
  font-size: 17px;
  color: black;
}
/*header section*/
header{
  background-color: white;
  position: fixed;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  z-index: 1;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

/* .logo elements are too close togather.. tried to change it using
justify-content: space-between; but did not succeed*/
.logo{
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

/* could change background-color using this rule but it is very gneneral
a{
  color: black;
}*/

header nav a{
  color: balck;
  display: inline-block;
  padding-right: 40px;
}


/*article section*/
.articles{
  position: relative;
  top: 110px;
  width: 100%;
  border: 1px solid grey;
  display: flex;
}

.articles .left{
  border: 2px solid grey;
  width: 630px;
  display: flex;
  flex-wrap: wrap;
}

/*the main article*/
.articles .left .main{
  border: 2px solid grey;
  width: 630px;

}
.articles .left .main .title{
  display: flex;
  width: 630px;
  height: 300px;
  background-image: url(./images/img-story-main.png)
}

/* small article to the left*/
.articles .left .sub1{
  border: 2px solid grey;
  width: 311px;
}

.articles .left .sub1 .title{
  display: flex;
  width: 310px;
  height: 300px;
  background-image: url(./images/img-story-2.png)
}

/* small article to the right*/
.articles .left .sub2{
  border: 2px solid grey;
  width: 311px;
}

.articles .left .sub2 .title{
  display: flex;
  width: 310px;
  height: 300px;
  background-image: url(./images/img-story-3.png)
}

/* center column articles*/
.articles .center{
  border: 2px solid grey;
  width: 300px;
  flex-wrap: wrap;
}

.articles .center .main{
  border: 2px solid grey;
  width: 300px;
}

.articles .center .title{
  border: 2px solid grey;
  width: 296px;
  height: 300px;
  background-image: url(./images/img-story-1.png)
}

.articles .center .sub{
  border: 2px solid grey;
  width: 296px;
}

/* small article to the right*/
.articles .small{
  border: 2px solid grey;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
}

.articles .small .image{
  background-image: url(./images/img-news-bite.png);
  width: 236px;
  height: 236px;
}
